<h1>hola mundo, motor de plantillas activo</h1>

{{!-- AQUI SE IMPORTA SOCKET IO --}}
<h2> Lista de usuarios </h2>
<ul id="lista-usuarios"> </ul>

<script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
<script src="js/main.js"></script>